<html>
  <head>
    <title>{{ title }}</title>

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  </head>

  <body>
    <nav class="deep-purple darken-2">
      <div class="nav-wrapper container ">
        <div class="col s12">
          <a class="breadcrumb" href="/">University Confessions</a>
        </div>
      </div>
    </nav>
    <div class="container">
      {% for message in flash %}
        <script>
          M.toast({html: '{{message.message}}'});
        </script>
      {% endfor %}

      <h1>{{title}}</h1>

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">School Forums</span>
              <p>Each school has their own forum for confessions.</p>
            </div>
            <div class="card-action">
              <a href="/schools/">Check out our Schools</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
