<html>

<head>
  <title>{{ title }}</title>

  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <!-- Compiled and minified CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script> 
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>
  </head>

  <body>
    <nav class="grey darken-4">
      <div class="nav-wrapper container">
        <a class="" href="/schools/">Uni Confessions</a>
        <a class="sidenav-trigger" data-target="mobile-nav" href="#">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/schools/">Schools</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/schools/">Schools</a>
      </li>
    </ul>
  <div class="container">
    {% for message in flash %}
    <script>
      M.toast({ html: '{{message.message}}' });
    </script>
    {% endfor %}

    <h3>{{ title }}</h3>

    <div class="row">
      <form action="/schools/{{data.schoolId}}/new" method="POST">
        <label for="title">Post Title</label>
        <input name="title" type="text">
        <label for="body">Post Body</label>
        <textarea name="body" class="materialize-textarea"></textarea>
        <input name="test" type="hidden" />
        <button class="btn waves-effect waves-light grey darken-4" name="action" type="submit">
          Create Post
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</body>

</html>