<html>
  <head>
    <title>{{title}}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="deep-purple darken-2">
      <div class="nav-wrapper container">
        <div class="col s12">
          <a href="/" class="breadcrumb">University Confessions</a>
          <a href="/schools/" class="breadcrumb">Schools</a>
          <a href="/schools/new" class="breadcrumb">New School</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <h3>{{title}}</h3>
      
      <div class="row">
        <form method="POST" action="/schools/new">
          <label for="name">School Name</label>
          <input type="text" name="name" />
          <label for="name">School Address</label>
          <input type="text" name="address" />
          <input type="submit" value="make a new school!" /> 
        </form>
        <a href="/schools/">← Return to schools view</a>
      </div>
    </div> 
    

    <!-- Compiled and minified Materialize Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
